extends layout

include mixins/_storeForm

block content
  .inner
    .headerTitle
      form.card
        label(for="date") Data Title
        input(type="text" name="date")
      p= title
      +storeForm(store)